<nav class="navbar navbar-expand-md navbar-scroll border-bottom">
    <div class="container">
        <img src="https://th.bing.com/th/id/R.6cddb3f8941f3662b4aeced4264c1fe6?rik=qGWPCWuzHislzA&pid=ImgRaw&r=0"
            height="70" alt="" loading="lazy" />
        <button class="navbar-toggler ps-" type="button" aria-controls="navbarExample01" aria-expanded="true"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon d-flex justify-content-start align-items-center">
                <i class="fas fa-bars"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="home/invoice">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="home/approve">Approve</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#foundation">Reports</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="home/stock">Stock</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="home/item">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="home/supplier">Supplier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="home/customer">Customer</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="login"><strong>Logout</strong></a>
                </li>
                
            </ul>

            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link px-2" href="#!">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-2" href="#!">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ps-2" href="#!">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>